name: CI
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "tools/**"
      - MODULE.bazel
      - BUILD
      - helper.bzl
      - non_module_deps.bzl
      - .github/**
      - .bazelrc

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Get clang-format-19
        run: sudo apt-get install --no-install-recommends -y clang-format-19
      - name: Set clang-format-19 as default
        run: |
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-19 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-19
          clang-format --version
      - name: Run linters
        run: ./tools/lint.sh

  check_localization:
    name: "Check Localization"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Check missing localization strings
        run: |
          ./tools/localization.py
          if [[ -n "$(git diff)" ]]; then
            git diff
            echo "Base localization has not been updated. Please run:"
            echo "    ./tools/localization.py"
            echo "and commit any changes it makes."
            exit 1 # return an error if localization.py made changes
          fi

  build-and-test:
    name: "Build and Test"
    needs: lint
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Auth to GCP
        if: ${{ !github.event.pull_request.head.repo.fork }} # This step will only run if it's NOT a fork
        continue-on-error: true
        id: auth
        uses: "google-github-actions/auth@6fc4af4b145ae7821d527454aa9bd537d1f2dc5f" # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/131531281042/locations/global/workloadIdentityPools/github/providers/github"
          project_id: "santa-build-cache"
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # ratchet:bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ matrix.os }}
          repository-cache: true
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # ratchet:maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Build
        run: |
          if [[ "${{ steps.auth.outcome }}" == "success" ]]; then
            bazel build \
              --verbose_failures \
              --sandbox_debug \
              --apple_generate_dsym \
              --define=SANTA_BUILD_TYPE=adhoc \
              --remote_cache=https://storage.googleapis.com/santa-build-cache \
              --google_default_credentials \
              //src/gui:Santa
          else
            bazel build \
              --verbose_failures \
              --sandbox_debug \
              --apple_generate_dsym \
              --define=SANTA_BUILD_TYPE=adhoc \
              //src/gui:Santa
          fi
      - name: Test
        run: |
          if [[ "${{ steps.auth.outcome }}" == "success" ]]; then
            bazel test \
              --test_output=errors \
              --verbose_failures \
              --sandbox_debug \
              --define=SANTA_BUILD_TYPE=adhoc \
              --remote_cache=https://storage.googleapis.com/santa-build-cache \
              --google_default_credentials \
              :unit_tests
          else
            bazel test \
              --test_output=errors \
              --verbose_failures \
              --sandbox_debug \
              --define=SANTA_BUILD_TYPE=adhoc \
              :unit_tests
          fi
