name: CI
on:
  pull_request:
    branches:
      - main
    paths:
      - "Source/**"
      - "Testing/**"
      - MODULE.bazel
      - BUILD
      - helper.bzl
      - non_module_deps.bzl
      - .github/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Get clang-format-19
        run: sudo apt-get install --no-install-recommends -y clang-format-19
      - name: Set clang-format-19 as default
        run: |
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-19 100
          sudo update-alternatives --set clang-format /usr/bin/clang-format-19
          clang-format --version
      - name: Run linters
        run: ./Testing/lint.sh
  build_userspace:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # ratchet:bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ matrix.os }}
          repository-cache: true
      - name: Build Userspace
        run: bazel build --verbose_failures --sandbox_debug --apple_generate_dsym -c opt :release --define=SANTA_BUILD_TYPE=adhoc
  check_localization:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Check missing localization strings
        run: |
          ./Testing/localization.py
          if [[ -n "$(git diff)" ]]; then
            git diff
            echo "Base localization has not been updated. Please run:"
            echo "    ./Testing/localization.py"
            echo "and commit any changes it makes."
            exit 1 # return an error if localization.py made changes
          fi
  unit_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # ratchet:actions/checkout@v4
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # ratchet:bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ matrix.os }}
          repository-cache: true
      - name: Run All Tests
        run: bazel test :unit_tests --verbose_failures --sandbox_debug --define=SANTA_BUILD_TYPE=adhoc --test_output=errors
